/* lg */ 
@media (min-width: 1200px) {
  
}
/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	.moods {
		padding-left: 0;
	}
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/* xs */
@media (min-width: 667px) and (max-width: 767px) {
	.moods {
    	padding-left: 182px;
	}
}
@media (min-width: 321px) and (max-width: 666px) {
	.moods {
    	padding-left: 40px;
	}
}
/* xs */
@media (max-width: 320px) {
  	.moods {
    	padding-left: 8px;
	}
}