/* ESTILOS PARA YOUR PERFECT SONG FOR TODAY */

/* GEN POP */

body {
	color: #333;
	background-color: #ECECFB;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}
a:hover {
	text-decoration: none;
}

/* HEADERS */

h1 {
	font-family: 'Pacifico', cursive;
}

/* COLORS */



/* TYPO */

.txt-xs {
	font-size: 10px;
}
.amatic {
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
}

/* POSITION */

.m-top {
	margin-top: 20px;
}
.m-top-md {
	margin-top: 30px;
}
.m-top-lg {
	margin-top: 50px;
}

/* HEADER */

/* FOOTER */

/* CONTENT */

.circle {
	background-color: #0080FF;
	border-radius: 50%;
	padding: 100px;
}
.form-control {
	width: 100px;
}

.button-container {
    width: 200px;
    height: 200px;
}

.ok {
	color: #0080FF;
	text-align: center;
	font-size: 25px;
	background-color: transparent;
	background-image: none;
	border: none;
}
.fixed-to-bottom {
	position: fixed;
    bottom: 0;
    width: 100%;
    background: url('../img/rainbow.jpg') repeat-x 0 0;
	padding: 5px 0;
}
.floating-logo {
	position: fixed;
	bottom: 25px;
	right: 0;
}
.results {
	background-color: #eee;
    border: 1px solid #FDB813;
    padding: 20px 10px 10px 10px;
}
.song {
	color: #ED1B24;
	font-size: 18px;
}
.author {
	font-size: 14px;
	color: #01ADDD;
}

#all_results {
    display: none;
}
.section-results {
	background-color: #01A352;
	color: #fff;
	padding: 50px 0;
	margin-top: 100px;
}
.section-facts {
	background-color: #F15A25;
	color: #fff;
	padding: 50px 0;
}
.moods {
	padding-left: 40px;
}
.moods li {
	float: left;
	margin: 10px 5px;
	list-style-type: none;
}
.emoji {
	padding: 23px;
}
.happy {
	background: url('../img/happy-icon.png') no-repeat 0 0;
}
.happy:hover {
	background: url('../img/happy-icon-hover.png') no-repeat 0 0;
}
.angry {
	background: url('../img/angry-icon.png') no-repeat 0 0;
}
.angry:hover {
	background: url('../img/angry-icon-hover.png') no-repeat 0 0;
}
.sad {
	background: url('../img/sad-icon.png') no-repeat 0 0;
}
.sad:hover {
	background: url('../img/sad-icon-hover.png') no-repeat 0 0;
}
.relaxed {
	background: url('../img/relaxed-icon.png') no-repeat 0 0;
}
.relaxed:hover {
	background: url('../img/relaxed-icon-hover.png') no-repeat 0 0;
}
.excited {
	background: url('../img/excited-icon.png') no-repeat 0 0;
}
.excited:hover {
	background: url('../img/excited-icon-hover.png') no-repeat 0 0;
}

/* HEART VISUALIZATION */

#box {
    width: 100%;
    height: 70px;
    overflow: hidden;
    margin: 30px auto auto;
}
#contentContainer {
    position: relative;
}
#circleDiv {
	background-image: url('../img/small-red-heart.png');
	background-repeat: no-repeat;
	background-position: 50% 0;
	padding: 80px;
    transition: opacity .5s ease-in-out;
}
.stateOne {
    opacity: 1;
}
.stateTwo {
    opacity: .0;
}

/* HOURGLASS */

.spinner {
  width: 70px;
  height: 100px;
  background-color: #00A652;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  -webkit-animation: rotateGlass 4s infinite ease-in-out;
}
.spinner:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  z-index: 30;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #F15A25;
}
.spinner:after {
  content: "";
  width: 0;
  height: 0;
  right: 0;
  display: block;
  position: absolute;
  z-index: 30;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 30px solid #F15A25;
}
.spinner .sand:before {
  content: "";
  width: 70px;
  background-color: #f0ca7d;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  /*-webkit-transform: scaleY(50%);*/
  z-index: 10;
  -webkit-animation: dropsand 4s infinite ease-in-out;
}
.spinner .sand:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  border-left: 0px solid transparent;
  border-right: 70px solid transparent;
  border-top: 100px solid rgba(255, 255, 255, 0.4);
  z-index: 20;
}
/*.spinner {
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
}*/
@-webkit-keyframes dropsand {
  0% {
    bottom: 50%;
  }
  35% {
    bottom: 0%;
    top: 50%;
  }
  50% {
    bottom: 0%;
    top: 50%;
  }
  85% {
    top: 0;
    bottom: 50%;
  }
  /*
  33% {
    bottom: 50%;
    top: 0;
  }
  66% {
    bottom: 0;
    top: 50%;
  }
  100% {
    bottom: 0;
    top: 100%;
  }*/
}
@-webkit-keyframes rotateGlass {
  40% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  90% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

/* TRUCK/MUSIC */

.truck	{
	width: 400px;
	height: 100px;
	background-image: url('../img/truck.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	margin: 50px auto 0;

	animation: animatedBG1 3s linear infinite;
}
@keyframes animatedBG1 {
	from { background-position: -50% 0; }
	to { background-position: 180% 0; }
}
.music	{
	width: 80px;
    height: 100px;
    background-image: url('../img/music-notes.png');
    background-position: 0 -50%;
    background-repeat: no-repeat;
    margin: 20px auto 0;

	animation: animatedBG2 1s linear infinite;
}
@keyframes animatedBG2 {
	from { background-position: 0% -50%; }
	to { background-position: 0% 250%; }
}
.music-slow	{
	width: 80px;
    height: 100px;
    background-image: url('../img/music-notes-sad.png');
    background-position: 0 -50%;
    background-repeat: no-repeat;
    margin: 20px auto 0;

	animation: animatedBG3 5s linear infinite;
}
@keyframes animatedBG3 {
	from { background-position: 0% -50%; }
	to { background-position: 0% 250%; }
}

/* SICK */

#crossfade {
    position:relative;
    height: 115px;
    width: 134px;
}
#crossfade img {
    position:absolute;
    left:0;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#crossfade img.top:hover {
    opacity:0;
}

/* HOVER */

/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse {
  /*display: inline-block;
  vertical-align: middle;*/
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
